/* CSS Document */

.tablehead
{
text-align:center;
font-size:20px;
font-weight: bold;
background-color:#33FF99;
font-family:"ו";

}

.contentFont
{
text-align:left;
font-size:16px;
font-family:"Arial";
font-weight:normal;

}

